<div class="container">
  <div class="row">
    <div class="col">
      <p class="fs-3">
        Hello, my name is <b>Cong Lanh Hoang (Lukas)</b>, and I am a student of Software Engineering Technician at Centennial College. I have <b>over 3 years of experience</b> as a <b>Full Stack Developer</b> and I have worked on several business domains such as <i>employee engagement</i>, <i>logistics</i>, and <i>cryptocurrency</i>. Currently, I am consolidating my knowledge of software engineering and find an opportunity in the software development industry in Canada. You can refer to my <a href="/files/resume.pdf">resume</a> for more information.
      </p>
    </div>
    <div class="col">
      <img src="images/photo.jpg" alt="photo" class="img-fluid rounded">
    </div>
  </div>
</div>
