<div class="container">
  <div class="row">
    <div class="col">
      <p class="fs-3">
        Hello, my name is <b>Cong Lanh Hoang (Lukas)</b>, and I am a student of Software Engineering Technician at Centennial College. I have been a <b>Full Stack Developer</b> for <b>more than 3 years</b> and have worked in many business areas, such as employee engagement, logistics, and cryptocurrency. At the moment, I am consolidating my software engineering skills and looking for a job in the software development field in Canada. You can refer to my <a href="/files/resume.pdf">resume</a> to find out more.
      </p>
    </div>
    <div class="col">
      <img src="images/photo.jpg" alt="photo" class="img-fluid rounded">
    </div>
  </div>
</div>
