<div class="container d-flex justify-content-center">
  <div class="card w-75">
    <h3 class="card-header">
      Mission Statement
    </h3>
    <div class="card-body text-center">
      <h5 class="card-title">Hello, my name is Lanh Hoang</h5>
      <p class="card-text">
        I am a Full Stack Developer with a passion for building UI/UX-friendly web applications.
        <br>
        Want to know more about me? You can check out my <a href="/about">About Me</a> page.
        <br>
        Take a look at my latest side projecst on my <a href="/projects">Projects</a> page.
        <br>
        Feel free to look at a list of services I offer on <a href="/services">Services</a> page
        <br>
        Also you can visit my <a href="/contact">Contact</a> page and say hello.
      </p>
    </div>
  </div>
</div>

