<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.jpg" alt="logo" width="36" height="36" class="d-inline-block align-text-center">
      Express Portfolio Site
    </a>
    <div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (title == "Home") { %>
            <a class="nav-link active" href="/">
          <% } else { %>
            <a class="nav-link" href="/">
          <% } %>            
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <% if (title == "About Me") { %>
            <a class="nav-link active" href="/about-me">
          <% } else { %>
            <a class="nav-link" href="/about-me">
          <% } %>            
            <i class="fa-solid fa-user"></i> About Me
          </a>
        </li>
        <li class="nav-item">
          <% if (title == "Projects") { %>
            <a class="nav-link active" href="/projects">
          <% } else { %>
            <a class="nav-link" href="/projects">
          <% } %>            
            <i class="fa-solid fa-terminal"></i> Projects
          </a>
        </li>
        <li class="nav-item">
          <% if (title == "Services") { %>
            <a class="nav-link active" href="/services">
          <% } else { %>
            <a class="nav-link" href="/services">
          <% } %>            
            <i class="fa-solid fa-wand-magic-sparkles"></i> Services
          </a>
        </li>
        <li class="nav-item">
          <% if (title == "Contact") { %>
            <a class="nav-link active" href="/contact">
          <% } else { %>
            <a class="nav-link" href="/contact">
          <% } %>            
            <i class="fa-solid fa-address-card"></i> Contact
          </a>
        </li>
        <li class="nav-item dropdown">
          <% if (title == "Business Contact List" || title == "Add New Contact") { %>
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Business Contacts</a>
          <% } else { %>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Business Contacts</a>
          <% } %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contacts">Business Contact List</a></li>
            <li><a class="dropdown-item" href="/contacts/add">Add New Contact</a></li>
          </ul>
        </li>
        <% if (typeof username == "string" && username) { %>
          <li class="nav-item">
            <a class="nav-link" id="signout" href="/users/signout">Sign Out (<%= username %>)</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
