<div class="container">
  <div class="card-group">
    <div class="card">
      <img
        src="images/guess-my-number.jpg"
        alt="project-1"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">Guess My Number</h5>
        <p class="card-text">
          A fun game that challenges players to find a number based on greater
          than or less than feedback.
        </p>
        <a
          href="https://guess-my-number-lh.netlify.app/"
          target="_blank"
          class="btn btn-primary"
          >Demo</a
        >
      </div>
    </div>
    <div class="card">
      <img src="images/pig-game.jpg" alt="project-1" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Pig Game</h5>
        <p class="card-text">
          A simple dice game between two players in which the player who reaches
          100 points first wins the game.
        </p>
        <a
          href="https://pig-game-lh.netlify.app/"
          target="_blank"
          class="btn btn-primary"
          >Demo</a
        >
      </div>
    </div>
    <div class="card">
      <img src="images/forkify.jpg" alt="project-1" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Forkify</h5>
        <p class="card-text">
          An app allows users search for ingredients of their favorite dish.
        </p>
        <a
          href="https://forkify-lh.netlify.app"
          target="_blank"
          class="btn btn-primary"
          >Demo</a
        >
      </div>
    </div>
  </div>
</div>
