<div class="container d-flex justify-content-center">
  <div class="card w-50">
    <h3 class="card-header">
      Offer
    </h3>
    <div class="card-body">
      I am a <b>Full Stack Developer</b> with <b>over 3 years of experience</b>. I have developed, launched, and maintained multiple projects. I offer services related to web development including both back-end and front-end. My current toolset includes:
      <div class="hstack gap-4">
        <div class="bg-light border">
          <i class="fa-brands fa-html5"></i> HTML
        </div>
        <div class="bg-light border">
          <i class="fa-brands fa-css3"></i> CSS
        </div>
        <div class="bg-light border">
          <i class="fa-brands fa-js"></i> JavaScript
        </div>
        <div class="bg-light border">
          <i class="fa-brands fa-react"></i> React
        </div>
        <div class="bg-light border">
          <i class="fa-brands fa-node-js"></i> NodeJS
        </div>
        <div class="bg-light border">
          <i class="fas fa-database"></i> PostgreSQL
        </div>
      </div>
    </div>
  </div>
</div>
