<%- include ('partials/header') %>
  <div class="container">
    <h1 class="text-center"><%= title %></h1>
    <div class="d-flex justify-content-center">
      <hr class="border border-dark border-2 opacity-50 w-25">
    </div>
    <div class="position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        Go back to <a href="/contacts">Business Contact List</a>
      </div>
    </div>
  </div>
<%- include ('partials/footer') %>
